<!DOCTYPE html>
<html>
<head>
  <title>Asd</title>

  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
  <style type="text/css">


  </style>


  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">


<%= yield %>
</div>
</body>
</html>
